<fieldset>
  <legend>Create New Donnation Tracker</legend>
  <!-- TITLE -->
  <div class="form-group">
    <label for="track-title">Title</label><br>
    <input class="form-control" id="track-title" type="text" name="title" value="{{charity.charityName}}"/>
  </div>

 <!-- AMOUNT -->
  <div class="form-group">
    <label for="track-amount">amount</label><br>
    <input class="form-control" id="track-amount" type="text" name="amount" value=""/>
  </div>

  <!-- NOTE -->
  <div class="form-group">
    <label for="review-note">note</label><br>
    <textarea class="form-control" id="review-note" name="note" rows="10" /></textarea>
  </div>

</fieldset>